repos/
venv/
**/__pycache__/
**/scripts/changelog/outputs.txt
**/scripts/changelog/versions-config.json

.DS_Store
.idea
.env.*
.env
containers
docker-compose-prod.yml
docker-compose-dev.yml
.env

debug.log
cert.pem

datalens-images.tar
datalens-images.txt
datalens-images.tar.gz
datalens-images.tar.gz.tmp

datalens_db.dump

docker-compose.tmp.yaml
docker-compose.production.yaml
*.iserv.yaml
dist/
pg-demo-connection
metadata
table-report-headers